body{
    overflow-x: hidden;
}
.collapse
{
    display:block !important;
}
.navbar-nav
{
    flex-direction: row !important;
}
.nav-item {
    padding: 20px !important;
}
@media screen and (max-width: 1024px)
{
.App {
    width: 100% !important;
    max-width: 1024px;
}
}
ul li
{
list-style: none !important;
}

.table th{
    border-top: none !important;
}

#btnCustomCss button
{
    margin: 5px !important;
}